---
import Layout from '../layouts/Layout.astro';
---

<Layout title={`Welcome to Astro - `}>
    <div>
        <script>
            window.location.href = "/certificates";
        </script>
    </div>

</Layout>

