---
// Importa tus componentes
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
// Verifica si estás en el navegador antes de acceder a localStorage


---

<Layout title="Welcome to Astro.">
    <main >
    <Hero/>  
    </main>
</Layout>
<script>

