<header class="text-gray-300 text-3xl p-5 bg-transparent ">
  <div class="container flex flex-wrap p-5 flex-col md:flex-row items-center justify-between">
    <!-- Logo or Name -->
    <div class="flex items-center">
      <!-- <img src="logo.png" alt="Logo" class="h-10 mr-3"> Asegúrate de tener la imagen en tu carpeta -->
      <span class="text-rose-500 font-bold text-4xl">Mi Portafolio</span>
    </div>

    <nav class="flex flex-wrap items-center text-base justify-center">
      <a href="/" id="firstLink" class="mr-5 px-4 py-2 transition-all duration-300 ease-in-out hover:text-rose-500">Sobre mí</a>
      <a href="/projects" id="secondLink" class="mr-5 px-4 py-2 transition-all duration-300 ease-in-out hover:text-rose-500">Mis proyectos</a>
      <a href="/cursos" id="thirdLink" class="mr-5 px-4 py-2 transition-all duration-300 ease-in-out hover:text-rose-500">Cursos</a>
      <a href="/fourth" id="fourthLink" class="mr-5 px-4 py-2 transition-all duration-300 ease-in-out hover:text-rose-500">Contacto</a>
    </nav>
  </div>
</header>


<script>
  const links = document.querySelectorAll('nav a');

  // Function to update the active link
  function setActiveLink(activeLinkId) {
    links.forEach(link => {
      if (link.id === activeLinkId) {
        link.classList.add('text-rose-500', 'border-b-2', 'border-rose-500');
        link.classList.remove('text-gray-300');
      } else {
        link.classList.remove('text-rose-500', 'border-b-2', 'border-rose-500');
        link.classList.add('text-gray-300');
      }
    });
  }

  // Load the active link from localStorage or set "Sobre mí" as the default
  let activeLinkId = localStorage.getItem('activeLinkId');
  if (!activeLinkId) {
    activeLinkId = 'firstLink'; // Default to "Sobre mí"
  }
  setActiveLink(activeLinkId);

  // Event listeners for each link
  links.forEach(link => {
    link.addEventListener('click', (e) => {
      
      const target = e.target as HTMLElement; // Type assertion
      const targetId = target.id; // Get the ID of the clicked link
      localStorage.setItem('activeLinkId', targetId); // Save the active link ID to localStorage
      setActiveLink(targetId); // Update the active link
    });
  });
</script>
