---
import espanol from "../img/idiomasicons/espana.png"
import ingles from "../img/idiomasicons/reino-unido.png"
import Image from "astro/components/Image.astro"
---
<div id="animated-section" class="p-10 md:p-0 flex items-center justify-center bg-gray-900 opacity-0 translate-y-10  transition-transform duration-700" id="animated-section">
  <div class="grid lg:grid-cols-2 grid-cols-1 items-center  gap-10 md:px-10">
      <div>
          <h1 class="mb-2 text-3xl font-bold text-white"><span class="text-green-500">Hola,</span> Soy Un Full Stack Developer </h1>
          <p class="mb-6 text-white">Mi nombre es Josué David Nolasco Aguilera, desarrollador entusiasta fullstack de Tegucigalpa, Honduras, y estudiante de la Universidad Nacional Autónoma de Honduras (UNAH), próximo a egresar. He trabajado en una amplia variedad de proyectos, desde plataformas de subastas en línea hasta aplicaciones web, siempre enfocado en crear interfaces limpias y bien diseñadas que no solo se ven bien, sino que también ofrecen una experiencia de usuario fluida y eficiente. ¡Bienvenidos a mi portafolio!</p>
          <div class="flex flex-wrap  sm:flex-nowrap gap-9">

            <div class="flex flex-col w-full items-center sm:items-start justify-center gap-1 rounded-2xl p-5 py-3 font-semibold text-white bg-rose-700">
              <div class="text-green-500">IDIOMAS</div>
          
              <div class="flex items-center gap-2">
                <Image src={espanol} width={30} height={30} alt="Uayeb Caballero" />
                <div>Español: Nativo</div>
              </div>
          
              <div class="flex items-center gap-2">
                <Image src={ingles} width={30} height={30} alt="Uayeb Caballero" />
                <div>Inglés: Intermedio</div>
              </div>
            </div>
          
            <div class="flex flex-col w-full items-center sm:items-start justify-center gap-1 rounded-2xl p-5 py-3 font-semibold text-white hover:bg-rose-700">
              <div class="text-green-500">SOFT SKILLS</div>
          
              <div class="flex items-center gap-2">
                <div>Comunicación</div>
              </div>
          
              <div class="flex items-center gap-2">
                <div>Adaptabilidad</div>
              </div>
          
              <div class="flex items-center gap-2">
                <div>Creatividad</div>
              </div>
          
              <div class="flex items-center gap-2">
                <div>Integridad</div>
              </div>
            </div>

            
          
          </div>
          
      </div>
      <div class="flex justify-center">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="md:size-96 size-72 rounded-full" />
      </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const section = document.getElementById('animated-section');
  section.classList.remove('opacity-0', 'translate-y-10');
});
</script>
