---
import { Image } from 'astro:assets';
---
<div id="animated-section" class="p-10 md:p-0 flex items-center justify-center bg-gray-900 opacity-0 translate-y-10  transition-transform duration-700" id="animated-section">
  <div class="grid lg:grid-cols-2 grid-cols-1 items-center  gap-10 md:px-10">
      <div>
          <h1 class="mb-2 text-3xl font-bold text-white"><span class="text-green-500">Hola,</span> Soy Un Full Stack Developer y apasionado por las base de datos </h1>
<p class="mb-6 text-white">
  Mi nombre es <strong>Josué David Nolasco Aguilera</strong>, desarrollador Full Stack de Tegucigalpa, Honduras, e
  <strong>Ingeniero en Sistemas graduado</strong> de la Universidad Nacional Autónoma de Honduras (UNAH). Cuento con
  experiencia en el desarrollo de aplicaciones web, enfocado en la creación de soluciones eficientes y bien
  estructuradas, así como interfaces limpias, funcionales y centradas en el usuario; me apasiona la tecnología,
  especialmente el área de <strong>bases de datos y Data Science</strong>, abarcando desde el diseño y modelado de datos
  hasta su optimización y análisis, y me mantengo actualizado en el uso de
  <strong>herramientas de inteligencia artificial aplicadas al desarrollo de software</strong>, además de tecnologías
  relacionadas con la <strong>containerización y despliegue de aplicaciones mediante Docker</strong>, lo que me permite
  optimizar los procesos de desarrollo, pruebas y puesta en producción.
</p>
          <div class="flex flex-wrap  sm:flex-nowrap gap-9">

            <div class="flex flex-col w-full items-center sm:items-start justify-center gap-1 rounded-2xl p-5 py-3 font-semibold text-white bg-rose-700">
              <div class="text-green-500">IDIOMAS</div>
              <div class="flex items-center gap-2">
                <Image src="/img/idiomas/reino-unido.png" width={30} height={30} alt="Josue Caballero" />
                <div>Inglés: Intermedio</div>
              </div>
          
              <div class="flex items-center gap-2">
                <Image src="/img/idiomas/espana.png" width={30} height={30} alt="Josue Caballero" />
                <div>Español: Nativo</div>
              </div>
            </div>
          
            <div class="flex flex-col w-full items-center sm:items-start justify-center gap-1 rounded-2xl p-5 py-3 font-semibold text-white hover:bg-rose-700">
              <div class="text-green-500">SOFT SKILLS</div>
          
              <div class="flex items-center gap-2">
                <div>Comunicación</div>
              </div>
          
              <div class="flex items-center gap-2">
                <div>Adaptabilidad</div>
              </div>
          
              <div class="flex items-center gap-2">
                <div>Creatividad</div>
              </div>
          
              <div class="flex items-center gap-2">
                <div>Integridad</div>
              </div>
            </div>

            
          
          </div>
          
      </div>
      <div class="flex justify-center">
          <img src="/img/avatar_josue.png" alt="" class="md:size-96 size-72 rounded-full" />
      </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const section = document.getElementById('animated-section');
  section.classList.remove('opacity-0', 'translate-y-10');
});
</script>
